[user]
	name = Shihab Mahamud
	email = 67628903+p-nerd@users.noreply.github.com
[pull]
[init]
	defaultBranch = main
[core]
	editor = nvim
    excludesfile = ~/.gitignore_global
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[http]
	postBuffer = 524288000

