/* Tokyo Night Theme for Waybar */

* {
    border: none;
    font-family:
        CaskaydiaMono Nerd Font,
        monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #1a1b26;
    color: #c0caf5;
}

#workspaces button {
    padding: 0 5px;
    color: #7aa2f7;
    background: transparent;
    border-radius: 5px;
}

#workspaces button.focused {
    background: #7aa2f7;
    color: #1a1b26;
}

#workspaces button:hover {
    background: #3b4261;
    color: #ffffff;
}

#window,
#pulseaudio,
#keyboard-state,
#power-profiles-daemon,
#idle_inhibitor,
#tray,
/*  */
#bluetooth,
#network,
#memory,
#temperature,
#cpu,
#backlight,
#battery,
#clock {
    background: #24283b;
    padding: 0 10px;
    margin: 2px 2px;
    border-radius: 5px;
}

#pulseaudio.muted {
    color: #565f89;
}

#temperature.critical {
    background: #f7768e;
    color: #1a1b26;
}

#battery.critical {
    color: #f7768e;
}

#clock {
    color: #9ece6a;
}
