* {
    font-family: "CaskaydiaMono Nerd Font", monospace;
    color: #c0caf5;
    background: transparent;
}

#window {
    background: #1a1b26;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid #9d7cd8;
}

#input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #292e42;
    color: #c0caf5;
}

#outer-box {
    padding: 20px;
}

#img {
    margin-right: 6px;
}

#entry {
    padding: 10px;
    border-radius: 15px;
    background-color: #24283b;
    color: #c0caf5;
    margin: 5px 0;
}

#entry:selected {
    background-color: #414868;
    border: 1px solid #414868;
}

#text {
    margin: 2px;
}
